#start {
  border: none;
  background-color: #22AA22;
  color: #FFFFFF;
  font-weight: bolder;
  padding: 10px;
}

#stop {
  border: none;
  background-color: #AA2222;
  color: #FFFFFF;
  font-weight: bolder;
  padding: 10px;
}
